* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}
button {
  background: red;
  color: white;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
}
.headline {
  height: 20%;
  padding-top: 5%;
  font-size: 18px;
  text-align: center;
}
.header {
  width: 100%;
  background: white;
  font-size: 18px;
  margin: 15px;
}
.header .phone-img {
  height: 60px;
}
.header .phone-img img {
  height: 100%;
}
.main-body .application {
  width: 100%;
  background-image: url(../images/header/zayavka-bg.jpg);
  text-align: center;
  opacity: 0.9;
}
.main-body .application navigation {
  display: inline-flex;
  width: 100%;
  opacity: 0.9;
  background: white;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.main-body .application navigation .nav-block {
  width: calc(11.11111111%);
  float: left;
  text-align: center;
}
.main-body .application navigation img {
  padding-left: 10px;
  padding-right: 10px;
  height: 15px;
}
.main-body .application .application-wrapper {
  width: 65%;
  height: 65%;
  transform: translate(25%, 15%);
  background: #EEE6E2;
  opacity: 0.7;
  padding: 15px;
}
.main-body .application .application-wrapper .application-form {
  width: 79%;
  height: 85%;
  background: #EEE6E2;
  border: 4px solid #ffffff;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
}
.main-body .application .application-wrapper .application-form .headline {
  height: 20%;
  font-size: 18px;
}
.main-body .application .application-wrapper .application-form .application-text {
  width: 60%;
  float: left;
}
.main-body .application .application-wrapper .application-form .application-text h1 {
  color: red;
  padding: 15px;
  font-weight: bolder;
  font-size: 32px;
}
.main-body .application .application-wrapper .application-form .application-text p {
  font-size: 20px;
  padding: 15px;
}
.main-body .application .application-wrapper .application-form .application-input {
  width: 30%;
  float: left;
}
.main-body .application .application-wrapper .application-form .application-input h4 {
  padding: 15px;
}
.main-body .application .application-wrapper .application-form .application-input div {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-body .application .application-wrapper .application-form .application-input input {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 8px;
  border: 2px solid black;
  text-transform: none;
  font-size: 16px;
}
.main-body .application .application-wrapper .application-form .application-input button {
  opacity: none;
  margin: 15px;
}
.main-body .moto-functions {
  height: 500px;
  width: 100%;
  display: inline-block;
}
.main-body .moto-functions .wrapper-moto {
  clear: both;
}
.main-body .moto-functions .wrapper-moto .img-right,
.main-body .moto-functions .wrapper-moto .img-left {
  width: 25%;
}
.main-body .moto-functions .wrapper-moto .img-right img,
.main-body .moto-functions .wrapper-moto .img-left img {
  height: 500px;
}
.main-body .moto-functions .wrapper-moto .img-left {
  float: left;
}
.main-body .moto-functions .wrapper-moto .img-left img {
  width: 100%;
}
.main-body .moto-functions .wrapper-moto .img-right {
  float: right;
}
.main-body .moto-functions .wrapper-moto .img-right img {
  width: 100%;
}
.main-body .moto-functions .wrapper-moto .wrapper-moto-text {
  width: 50%;
  float: left;
}
.main-body .moto-functions .wrapper-moto .wrapper-moto-text .wrapper-functions {
  padding-top: 5%;
  width: 100%;
  display: inline-flex;
}
.main-body .moto-functions .wrapper-moto .wrapper-moto-text .wrapper-functions .video-wrapper {
  float: left;
  width: 40%;
  margin-right: 5%;
}
.main-body .moto-functions .wrapper-moto .wrapper-moto-text .wrapper-functions .video-wrapper video {
  width: 100%;
}
.main-body .moto-functions .wrapper-moto .wrapper-moto-text .wrapper-functions .list-wrapper {
  width: 50%;
}
.main-body .moto-functions .wrapper-moto .wrapper-moto-text .wrapper-functions .list-wrapper ul {
  float: right;
  list-style-image: url("../images/functions/grass-icon.png");
}
.main-body .moto-functions .wrapper-moto .wrapper-moto-text .wrapper-functions .list-wrapper ul li {
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
}
.main-body .grass {
  background-image: url(../images/grass/grass.jpg);
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 30px;
  padding-left: 25%;
  padding-right: 25%;
}
.main-body .advantages {
  height: 600px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.main-body .advantages .img-right,
.main-body .advantages .img-left {
  width: 30%;
}
.main-body .advantages .img-right img,
.main-body .advantages .img-left img {
  height: 500px;
}
.main-body .advantages .img-left {
  float: left;
}
.main-body .advantages .img-left img {
  width: 100%;
}
.main-body .advantages .img-right {
  float: right;
}
.main-body .advantages .img-right img {
  width: 100%;
}
.main-body .advantages .advantages-text {
  width: 40%;
  float: left;
}
.main-body .advantages .advantages-text ul {
  float: right;
  list-style-image: url("../images/advantages/ok-icon.png");
  list-style-position: inside;
}
.main-body .advantages .advantages-text ul li {
  padding-top: 5%;
  font-size: 16px;
}
.main-body .trace {
  height: 100px;
  background-image: url("../images/trace.png");
}
.main-body .catalog {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  height: 800px;
}
.main-body .catalog .headline {
  height: 10%;
}
.main-body .catalog .tabs {
  position: relative;
  clear: both;
  height: 75%;
}
.main-body .catalog .tabs .tab {
  display: inline-flex;
  width: 33.33%;
  float: left;
}
.main-body .catalog .tabs .tab label {
  padding: 10px;
  font-weight: bold;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.main-body .catalog .tabs .tab .tab-d-water {
  text-align: left;
  padding-right: 35px;
}
.main-body .catalog .tabs .tab .tab-d-air {
  text-align: center;
}
.main-body .catalog .tabs .tab .tab-f-air {
  text-align: right;
}
.main-body .catalog .tabs .tab .content {
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ccc;
  display: inline-block;
}
.main-body .catalog .tabs .tab .content .product {
  float: left;
  width: 25%;
  height: 90%;
  margin: 15px;
  padding: 15px;
  border: 4px solid green;
  text-align: center;
  font-weight: bold;
}
.main-body .catalog .tabs .tab .content .product .moto-img {
  height: 70%;
  width: 100%;
}
.main-body .catalog .tabs .tab .content .product p {
  height: 10%;
}
.main-body .catalog .tabs .tab .content .product div {
  height: 10%;
  display: inline-flex;
  clear: both;
  width: 100%;
  text-align: center;
  padding-left: 30%;
}
.main-body .catalog .tabs .tab .content .product div .money-img {
  float: left;
  margin: 0;
  height: 70%;
}
.main-body .catalog .tabs .tab .content .product div p {
  float: left;
  padding: 5px;
}
.main-body .catalog .tabs .tab .content .product .buy-product-button {
  margin: 0;
  margin-bottom: 15px;
}
.main-body .catalog .tabs .tab [type=radio] {
  display: none;
}
.main-body .catalog .tabs .tab [type=radio]:checked ~ label {
  color: green;
  border-bottom: 1px solid green;
  z-index: 2;
}
.main-body .catalog .tabs .tab [type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
.main-body .catalog .catalog-button-wrapper {
  margin-left: 37%;
  padding-left: 15px;
}
.main-body .catalog .catalog-button-wrapper .catalog-button {
  background: url(../images/catalog/button-bg.jpg);
  padding-left: 45px;
  height: 42px;
}
.main-body .attachments {
  height: 700px;
}
.main-body .attachments .headline {
  height: 10%;
  padding-top: 0;
}
.main-body .attachments h4 {
  text-align: center;
}
.main-body .attachments .attachments-wrapper {
  width: 100%;
}
.main-body .attachments .attachments-wrapper .attachments-line {
  display: inline-flex;
  margin-left: 15%;
  margin-right: 15%;
}
.main-body .attachments .attachments-wrapper .attachments-line .attachments-block {
  width: 21%;
  margin: 25px;
}
.main-body .attachments .attachments-wrapper .attachments-line .attachments-block img {
  width: 100%;
}
.main-body .credit {
  width: 100%;
  height: 700px;
}
.main-body .credit .headline {
  height: 10%;
  padding-top: 0;
}
.main-body .credit h4 {
  text-align: center;
  margin-bottom: 5%;
}
.main-body .credit .credit-main-wrapper {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: inline-flex;
}
.main-body .credit .credit-main-wrapper .credit-wrapper {
  float: left;
  width: 80%;
  display: inline-flex;
}
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-left {
  width: 50%;
  margin-right: 5%;
}
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-right {
  width: 45%;
}
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-right div,
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-left div {
  height: 90px;
  display: inline-flex;
  margin-bottom: 15px;
}
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-right div img,
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-left div img {
  height: 100%;
}
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-right div h3,
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-left div h3 {
  padding-top: 25px;
}
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-right ul,
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-left ul {
  list-style-image: url("../images/credit/li-icon.png");
}
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-right ul li,
.main-body .credit .credit-main-wrapper .credit-wrapper .credit-wrapper-left ul li {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
  padding: 5px;
  margin-left: 10%;
}
.main-body .credit .credit-main-wrapper .credit-form-wrapper {
  float: right;
  width: 25%;
  padding-left: 10px;
  text-align: center;
}
.main-body .credit .credit-main-wrapper .credit-form-wrapper h4 {
  padding: 6px;
}
.main-body .credit .credit-main-wrapper .credit-form-wrapper h4 h3 {
  padding-top: 0;
}
.main-body .credit .credit-main-wrapper .credit-form-wrapper div {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-body .credit .credit-main-wrapper .credit-form-wrapper input {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 8px;
  border: 2px solid black;
  text-transform: none;
  font-size: 16px;
}
.main-body .credit .credit-main-wrapper .credit-form-wrapper button {
  opacity: none;
}
.main-body .guarantee {
  background-image: url("../images/guarantee/bg.jpg");
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: center;
}
.main-body .guarantee .headline {
  color: yellow;
}
.main-body .guarantee span {
  text-transform: none;
  color: white;
}
.main-body .how-we-work {
  height: 600px;
  background-image: url("../images/work/tarce.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: 70%;
}
.main-body .how-we-work .phases {
  width: 70%;
  margin-left: 15%;
  display: inline-block;
  height: 40%;
}
.main-body .how-we-work .phases .phase {
  float: left;
  width: 15%;
  height: 100%;
  margin-left: 5%;
  text-align: center;
}
.main-body .how-we-work .phases .phase img {
  height: 50%;
  margin-bottom: 5%;
}
.main-body .how-we-work .phases .phase p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5%;
}
.main-body .how-we-work .order-call-button {
  margin-left: 45%;
}
.main-body .reviews {
  background-image: url("../images/reviews/review-bg.jpg");
  height: 700px;
  width: 100%;
}
.main-body .reviews .headline {
  color: white;
  height: 10%;
}
.main-body .reviews .reviews-wrapper {
  width: 65%;
  height: 55%;
  transform: translate(25%, 5%);
  background: #EEE6E2;
  opacity: 0.7;
  padding: 15px;
}
.main-body .reviews .reviews-wrapper .reviews-form {
  width: 79%;
  height: 85%;
  background: #EEE6E2;
  border: 4px solid #ffffff;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.main-body .reviews .reviews-wrapper .reviews-form h3 {
  text-transform: none;
}
.main-body .reviews .reviews-wrapper .reviews-form p {
  font-size: 16px;
  text-transform: none;
  padding: 15px;
}
.main-body .reviews .reviews-wrapper .reviews-form .avtors {
  width: 100%;
  height: 50%;
  text-align: center;
}
.main-body .reviews .reviews-wrapper .reviews-form .avtors img {
  width: 15%;
  margin-right: 4%;
  margin-left: 4%;
  opacity: 0.7;
}
.main-body .sertificates {
  width: 100%;
  height: 400px;
  text-align: center;
}
.main-body .sertificates .headline {
  height: 10%;
}
.main-body .sertificates .sertificates-wrapper {
  display: inline-flex;
  width: 60%;
  height: 50%;
  margin-top: 5%;
}
.main-body .sertificates .sertificates-wrapper img {
  float: left;
  width: calc(20%);
}
footer {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  height: 300px;
  display: inline-flex;
  color: white;
  background-image: url(../images/footer/footer-bg.jpg);
}
footer div {
  width: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}
footer div ul {
  list-style-image: url(../images/footer/koleso.png);
}
footer .about {
  margin-right: 5%;
}
footer .logo-wrap {
  padding-left: 5%;
}
footer .phone-num {
  width: 25%;
  display: inline-flex;
}
footer .phone-num img {
  height: 40px;
}
footer .phone-num div {
  width: 100%;
}
footer .phone-num div p {
  font-size: 14px;
  width: 150px;
}
footer .phone-num button {
  margin: 0;
  margin-top: 30px;
}
footer .list-wrap {
  width: 15%;
}
