@font-big: 18px;
@font-helvet: Arial, sans-serif;

* {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: @font-helvet;
}


button {
	background: red;
	color: white;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 8px;
	font-size: @font-big;
	border:none;
}
.headline {
		height: 20%;
		padding-top: 5%;
		font-size: @font-big;
		text-align: center;
	}
.header {
	width:100%;
	background: white;
	font-size: @font-big;
	margin: 15px;
	.phone-img {
		height: 60px;
		img {
			height: 100%;
		}
	}
}//end header
.main-body {
	.application {

		width: 100%;
		background-image: url(../images/header/zayavka-bg.jpg);
		text-align: center;
		opacity: 0.9;

		navigation {
			display: inline-flex;
			width: 100%;
			opacity: 0.9;
			background: white;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 5px;

			.nav-block {
				width: calc(100% / 9);
				float: left;
				text-align: center;
				
			}
			img {
				padding-left: 10px;
				padding-right: 10px;
				height: 15px;
			}
		}
		.application-wrapper {
			width: 65%;
			height: 65%;
			transform: translate(25%,15%);
			background: #EEE6E2;
			opacity: 0.7;
			padding: 15px;
			.application-form {
				width: 79%;
				height: 85%;
				background: #EEE6E2;
				border: 4px solid rgba(255, 255, 255, 1);
				padding: 3%;
				padding-left: 10%;
				padding-right: 10%;

				.headline {
					height: 20%;
					font-size: @font-big;
				}
				.application-text {
					width: 60%;
					float: left;
					h1 {
						color: red;
						padding: 15px;
						font-weight: bolder;
						font-size: 32px;

					}
					p {
						font-size: 20px;
						padding: 15px;
					}
				}
				.application-input {
					width: 30%;
					float: left;
					h4 {
						padding: 15px;
			
					}
					div {
						width: 100%;
						padding-top: 15px;
						padding-bottom: 15px;
					}
					input {
						width: 90%;
						margin-bottom: 5px;
						margin-top: 5px;
						padding: 8px;
						border: 2px solid black;
						text-transform: none;
						font-size: 16px;	
					}
					button {
						opacity: none;
						margin: 15px;
					}
				}
			}
		}
	}
	.moto-functions {
		height: 500px;
		width: 100%;
		display: inline-block;

		.wrapper-moto {
			clear: both;
			.img-right, .img-left {
				width: 25%;
				img {
				height: 500px;
				}
			}
			.img-left {
				float: left;
				img {
					width: 100%;
				}
				
			}
			.img-right {
				float: right;
				img {
					width: 100%;
				}
				
			}
			.wrapper-moto-text {
				width: 50%;
				float: left;
				
				.wrapper-functions {
					padding-top: 5%; 
					width: 100%;
					display: inline-flex;

					.video-wrapper {
						float: left;
						width: 40%;
						margin-right: 5%;
						video {
							width: 100%;
						}
					}
					.list-wrapper {
						width: 50%;
						ul {
						float: right;
						list-style-image: url("../images/functions/grass-icon.png");
							li {
								text-align: left;
								font-size: @font-big;
								font-weight: bolder;
							}
						}
					}
				}
			}
		}
	}
	.grass {
		background-image: url(../images/grass/grass.jpg);
		color: white;
		text-align: center;
		font-size: 24px;
		padding: 30px;
		padding-left: 25%;
		padding-right: 25%;
	}
	.advantages {
		height: 600px;
		width: 100%;
		display: inline-block;
		text-align: center;
		.img-right, .img-left {
			width: 30%;
			img {
			height: 500px;
			}
		}
		.img-left {
			float: left;
			img {
				width: 100%;
			}
			
		}
		.img-right {
			float: right;
			img {
				width: 100%;
			}
			
		}
		.advantages-text {
			width: 40%;
			
			float: left;
			ul {
				float: right;
				list-style-image: url("../images/advantages/ok-icon.png");
				list-style-position: inside;
				li {
					padding-top: 5%; 
					font-size: 16px;
				}
			}
		}
	}
	.trace {
		height: 100px;
		background-image: url("../images/trace.png");
	}
	.catalog {
		width: 70%;
		margin-right: 15%;
		margin-left: 15%;
		height: 800px;
		.headline {
			height: 10%;
		}
		.tabs {
		  position: relative;   
		  clear: both;
		  height: 75%;
		  .tab {
		  	  display: inline-flex;
		  	  width: 33.33%;
		  	  float: left;
		  	  
			  label { 
				    padding: 10px; 
				    font-weight: bold;
				    margin-left: -1px; 
				    position: relative;
				    left: 1px; 
				}
				.tab-d-water {
					text-align: left;
					padding-right: 35px;
				}
				.tab-d-air {
				  	text-align: center;
				}

				.tab-f-air {
					text-align: right;
				}
				.content {
					width: 100%;
					position: absolute;
					top: 55px;
					left: 0;
					background: white;
					right: 0;
					bottom: 0;
					padding: 20px;
					border-top: 1px solid #ccc; 
					display: inline-block;
					.product {
					  	float: left;
					  	width: 25%;
					  	height: 90%;
					  	margin: 15px;
					  	padding: 15px;
					  	border: 4px solid green;
					  	text-align: center;
					  	font-weight: bold;
					  	.moto-img {
					  		height: 70%;
					  		width: 100%;
					  	}
					  	p {
					  		height: 10%;
					  	}
					  	div {
					  		height: 10%;
					  		display: inline-flex;
					  		clear: both;
					  		width: 100%;
					  		text-align: center;
					  		//padding-right: 30%;
					  		padding-left: 30%;
					  		.money-img {
					  			float: left;
					  			margin: 0;
					  			height: 70%;
					  		}
					  		p {
					  			float: left;
					  			padding: 5px;
					  		}
					  	}
					  	.buy-product-button {
					  		margin: 0;
							margin-bottom: 15px;
					  	}
					}
				}
				[type=radio] {
				  display: none;   
				}
				[type=radio]:checked ~ label {
				  color: green;
				  border-bottom: 1px solid green;
				  z-index: 2;
				}
				[type=radio]:checked ~ label ~ .content {
				  z-index: 1;
				}
			}
		}
		.catalog-button-wrapper {
			margin-left: 37%;
			//margin-right: 35%;
			padding-left: 15px; 
			.catalog-button {
				background: url(../images/catalog/button-bg.jpg);
				padding-left: 45px;
				height: 42px;

			}
		}
	}//end catalog
	.attachments{
		height: 700px;
		.headline {
			height: 10%;
			padding-top: 0;
		}
		h4 {
			text-align: center;
		}
		.attachments-wrapper {
			width: 100%;
			.attachments-line {
				display: inline-flex;
				margin-left: 15%;
				margin-right: 15%;
				.attachments-block {
					width: 21%;
					margin: 25px;
					img {
						width: 100%;
					}
				}
			}
		}
	}//end attachments
	.credit {
		width: 100%;
		height: 700px;
		.headline {
			height: 10%;
			padding-top: 0;
		}
		h4 {
			text-align: center;
			margin-bottom: 5%;
		}
		.credit-main-wrapper {
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
			display: inline-flex;
			.credit-wrapper {
				float: left;
				width: 80%;
				display: inline-flex;
				.credit-wrapper-left {
					width: 50%;
					margin-right: 5%;
				}
				.credit-wrapper-right {
					width: 45%;
				}
				.credit-wrapper-right,
				.credit-wrapper-left {
					div {
						height: 90px;
						display: inline-flex;
						margin-bottom: 15px;
						img {
							height: 100%;
						}
						h3 {
							padding-top: 25px;
						}
					}
					ul {
						list-style-image: url("../images/credit/li-icon.png");
						li {
							font-size: 16px;
							font-weight: bold;
							text-transform: none;
							padding: 5px;
							margin-left: 10%;
						}
					}
				}
			}
			.credit-form-wrapper {
				float: right;
				width: 25%;
				padding-left: 10px;
				text-align: center;
				h4 {
					padding: 6px;
					h3 {
							padding-top: 0;
						}
	
				}
				div {
					width: 100%;
					padding-top: 15px;
					padding-bottom: 15px;
				}
				input {
					width: 90%;
					margin-bottom: 5px;
					margin-top: 5px;
					padding: 8px;
					border: 2px solid black;
					text-transform: none;
					font-size: 16px;	
				}
				button {
					opacity: none;
					//margin: 15px;
				}
			}
		}
	}//end credit
	.guarantee {
		background-image: url("../images/guarantee/bg.jpg");
		padding-left: 30%;
		padding-right: 30%;
		padding-bottom: 3%;
		padding-top: 3%;
		text-align: center;
		.headline {
			color: yellow;
			//font-size: @font-big;
		}
		span {
			text-transform: none;
			color: white;

		}
	}
	.how-we-work {
		height: 600px;
		background-image: url("../images/work/tarce.png");
		background-repeat: repeat-x;
		background-position: center;
		background-size: 70%; 
		.phases {
			width: 70%;
			margin-left: 15%;
			display: inline-block;
			height: 40%;
			.phase {
				float: left;
				width: 15%;
				height: 100%;
				margin-left: 5%;
				text-align: center;
				img {
					 height: 50%;
					 margin-bottom: 5%;
				}
				p {
					font-size: 16px;
					font-weight: bold;
					margin-top: 5%;

				}
			}
		}
		.order-call-button {
			margin-left: 45%;
		}

	}
	.reviews {
		background-image: url("../images/reviews/review-bg.jpg");
		height: 700px;
		width: 100%;
		.headline {
			color: white;
			height: 10%;
		}
		.reviews-wrapper {
			width: 65%;
			height: 55%;
			transform: translate(25%,5%);
			background: #EEE6E2;
			opacity: 0.7;
			padding: 15px;
			.reviews-form {
				width: 79%;
				height: 85%;
				background: #EEE6E2;
				border: 4px solid rgba(255, 255, 255, 1);
				padding: 3%;
				padding-left: 10%;
				padding-right: 10%;
				text-align: center;

				h3 {
					text-transform: none;
				}
				p {
					font-size: 16px;
					text-transform: none;
					padding: 15px;
				}
				.avtors {
					width: 100%;
					height: 50%;
					text-align: center;
					img {
						width: 15%;
						margin-right: 4%;
						margin-left: 4%;
						opacity: 0.7;

					}
				}
			}
		}
	}
	.sertificates {
		width: 100%;
		height: 400px;
		text-align: center;
		.headline {
			height: 10%;
		}
		.sertificates-wrapper {
			display: inline-flex;
			width: 60%;
			height: 50%;
			margin-top: 5%;
			img {
				float: left;
				width: calc(100% / 5);
			}
		}
	}
	.map-wrapper {
		
	}
}//end main-body
footer {
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		height: 300px;
		display: inline-flex;
		color: white;
		background-image: url(../images/footer/footer-bg.jpg);
		div {
			width: 20%;
			margin-top: 5%;
			margin-bottom: 5%;
			ul {
				list-style-image: url(../images/footer/koleso.png);
				li {

				}
			}
		}
		.about {
			margin-right: 5%;
		}
		.logo-wrap {
			padding-left: 5%;
		}
		.phone-num {
			width: 25%;
			display: inline-flex;
			img {
				height: 40px;
			}
			div {
				width: 100%;
				p {
					font-size: 14px;
					width: 150px;
				}
				
			}
			button {
					margin: 0;
					margin-top: 30px;
				}
		}
		.list-wrap {
			width: 15%;
		}
	}